.body{
    background-color:whitesmoke;
}
.navbar {
    overflow: hidden; 
    background-color:mediumseagreen; 
  }
  
  .navbar a {
    float: left; 
    display: block; 
    color: white; 
    background-color:mediumseagreen;
    text-align: center; 
    padding: 14px 30px;
    text-decoration: none; 
    font-family: 'Bebas Neue', cursive;
    font-size:x-large;
  }

  .navbar a.right {
    float: right; 
  }
  

  .navbar a:hover {
    background-color:darkgreen; 
  }

  .naslov{
      text-align: center;
      font-size: 5em;
      padding:30px 0px 0px 0px;
      font-family: Arial, Helvetica, sans-serif
  }

  .centriraj{
      text-align: center;
  }

  .citat{
      font-size: 2em;
      padding: 5px;
      font-style: italic;
  }

  *{
      box-sizing: border-box;
  }

  .red{
      display: flex;
      flex-wrap: wrap;
  }

  

  .citatbox{
      padding: 20px;
      flex:30%;
      border:khaki;
      border-style:groove;
      
  }

  .citatbox img{
        border-radius: 8px;
        width: 200px;
        height: 200px;
        object-fit: cover;
        filter: drop-shadow(8px 8px 10px gray);
  }
  

  body{ height:100vh; margin:0; }



.footer{
    margin-top: 10px;
}

.sporedniNaslov{
    font-size: 2em;
      padding: 30px;
      font-style: italic;
}

.redDrva{
    display: flex;
    background-color:lemonchiffon;
    border-radius: 10px;
    margin-bottom: 30px;
}

  .redDrva image{
    display: flex 1;
    box-shadow: 0 0 8px 8px lemonchiffon inset;
}

.image > img{
    vertical-align:top;
    max-width:  500px;
    border-radius: 12px;
    padding: 9px;
    max-height: 400px;
}

.drvaContainer{
    display: flex 1;
    flex-direction: column;
    flex-wrap: nowrap;
}

.drvaTekst{
    display: flex 1;
    padding: 15px;
    font-size: 2em;
}

.drvaTekst::first-letter{
    font-size: 2em;
    color: coral;
}

.drvaCijena{
    display: flex 1;
    text-align: center;
    font-size: 3em;
    margin-top: 15px;
}

.bodyDostava{
    background:url(res/hrvacka.png) center no-repeat;
    background-color:whitesmoke;
}

.bodyKontakt{
    background-color:whitesmoke;
}

.imeGrada{
    padding: 10px;
    font-size: 1.5em;
}

.naslovKontakt{
    font-size: 4em;
    font-family: 'Arvo', serif;
    color:lightcoral;
    font-weight: 600;
    padding: 30px;
}

.kontaktContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: lightgray;
    margin-left: 150px;
    margin-right:150px;
    padding: 10px;
}

.kontaktInfo{
    flex: none;
    font-weight: 600;    
}

.openSans{
    font-family: 'Open Sans', sans-serif;
}

.upozorenje{
    color: crimson;
}

.dostavaTekst{
    font-size: 1.25em;
    margin-left: 15px;
}

.dostavaNaslov{
    margin-left:25px;
}

.homeSlika{
    padding: 100px;
}

.homeSlika img{
    border-radius: 8px;
}

.footer{
    position:fixed;
   bottom:0;
   width:100%;
   background:khaki;
}